
/*  RESET  */
img { max-width: 100%; object-fit: contain; }
* { box-sizing: border-box; }
body, main, h1, h2, h3 { margin: 0; }
fieldset { border: none; }

html {
  /* Primary */
  --soft-red: hsl(10, 79%, 65%);
  --soft-red-hsl: 10, 79%, 65%;
  --cyan: hsl(186, 34%, 60%);
  --cyan-hsl: 186, 34%, 60%;

  /* Neutral */
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);

  font-size: 18px;
  font-family: system-ui;
}

body {
  display: grid;
  min-height: 100dvh;
  place-content: center;  
  background-color: var(--cream);
}

body > * {
  border-radius: 20px;
}

header {
  background-color: var(--soft-red);
  color: var(--very-pale-orange);
  padding-inline: 1.7em;
  padding-block: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
h1 {
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  color: var(--ver);
}
header span {
  font-weight: 700;
  font-size: 1.8rem;
}

main {
  margin-top: 1rem;
  background-color: var(--very-pale-orange);
  padding: 2em;
  height: auto;
}

h2 {
  color: var(--dark-brown);
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

#summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 1.5rem;
  border-top: 2px solid var(--cream);
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--medium-brown);
}

.month {
  margin-inline: 0.3rem;
}
.month span {
  font-weight: 700;
  color: var(--dark-brown);
}
.month.this span {
  font-size: 2.5rem;
}
.month.last {
  text-align: right;
}
.month.last span {
  font-size: 1rem;
} 

#spending-chart {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 215px;
  align-items: flex-end;
  margin-block: 1.6rem;
  width: auto;
  
}
#spending-chart li { 
  position: relative;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 2rem);
  color: var(--medium-brown);
  margin-inline: min(1vw, 0.5rem);
  width: clamp(30px, 3.5vw, 50px);
}

#spending-chart li data {
  --transparency: 1;
  
  margin-bottom: 5px;
  content: "";
  left: 50%;
  transform: translate(-50%);
  display: block;
  
  width: 100%;
  height: var(--spending-height);
  background-color: hsla(var(--spending-color), var(--transparency));
  border-radius: 0.3em;
  color: var(--medium-brown);
  position: relative;
}
#spending-chart li data:hover {
  --transparency: 0.6;
  cursor: pointer;
}

#spending-chart li data:hover::before {
  opacity: 1;
  position: absolute;
  content: '$' attr(value);
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  background-color: var(--dark-brown);
  color: var(--very-pale-orange);
  border-radius: 0.3em;
  padding: 0.4em;
  font-size: 0.8em;
}

